@media only screen and (max-width: 721px){
    .intro h1{
        font-size: 2em;
    }
    .intro p{
        font-size:1em;
        padding-left: 10%;
        padding-right: 10%;
    }
}
@media only screen and (max-width: 520px){
    .row1,.row2,.row3{
        padding: 0;
        flex-direction: column;
    }
    .row1-col,.row2-col,.row3-col{
        padding:0;
    }
    .skills_name{
        padding-left: 20%;
    }
}