*{
    margin: 0;
    padding: 0;
}
.navbar
{
    background-color:#1f2428;
    height: 50px;
    display: flex;
    position: sticky;
    top: 0;

}
.nav-element{
    display:flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size:larger;
}
nav a:hover{
    color: grey;
}
.nav-link
{
    color: aliceblue;
    text-decoration: none;
    padding: 20px 20px;
}
.about
{
    justify-content: center;
    text-align: center;
    background-color: #1f2428;
    color: antiquewhite;
    height: 60vh;
}
.intro h1{
    font-size: 2.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    padding: 0.2em 0 0.1em 0;
}
.intro p{
    font-size: larger;
    font-family: cursive;
    padding-left: 20%;
    padding-right: 20%;
    height: 50%;
}
.gmail{
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    text-align: center;
    justify-content:center;
}
.gmail p{
    padding: 8px 0px 0px 5px;
}
.intro-icons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.linked-img{
    padding-left: 70px;
}
.resume{
    margin-top: 20px;
    height: 30px;
    width: 150px;
    border-radius: 20px;
    font-size:medium;
    border:2px grey solid;
}


 .education
{
    height: 50vh;
    padding-left: 20%;
    padding-top: 3%;
    display: flex;
}
.education h1,.skills h1{
    font-size: 3em;
    padding-bottom: 0.5em;
}
.hs h4, .college h4, footer h4{
    font-size: 1.5em;
    padding: 0.7em 0 0 0;
}

.skills
{
    padding-left: 20%;
    padding-top: 3%;
}
.row1,.row2,.row3{
    padding-bottom: 2em;
    display: flex;
    margin-right: 10em;
}
.skills_name
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:1.5em;
}
.row1 img,.row2 img,.row3 img
{
    height: 70px;
    width: 70px;
}
.row1-col{
    padding-left: 10em;
}
.row2-col{
    padding-left: 7em;
}
.row3-col{
    padding-left: 11em;
}
footer h4{
    font-size: 2em;
    text-align: center;
    color:antiquewhite;
}
.form
{
    color: antiquewhite;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 42vh;
    padding-top:2em ;
}
.form-name,.form-email,.form-message{
    padding-bottom: 1.5em;
}
.form-text{
    font-size: 1.2em;
}
.form-name input,.form-email input{
    height: 100%;
    width: 30%;
    text-align: center;
}
textarea{
    height: 90%;
    width: 28.5%;
}
.button{
    height:2em;
    width: 5em;
    margin: auto;
    text-align: center;
    justify-content: center;
    border-radius: 1em;
    background-color:aqua;
    border: 2px;
    font-weight:bolder;
}
.button:hover{
    cursor: pointer;
}
footer
{
    background-color:#204766;
    width:100%;
}