
.navbar{
    max-width: 100%;
}
.about
{
    justify-content: center;
    text-align: center;
    background-color: #1f2428;
    color: antiquewhite;
    height: max-content;
}
.intro h1{
    font-size: 2.5rem;
    font-weight: bolder;
    padding: 0.2em 0 0.1em 0;
}
.intro p{
    font-size: larger;
    padding-left: 20%;
    padding-right: 20%;
    height: 50%;
}
.gmail{
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    text-align: center;
    justify-content:center;
}
.gmail p{
    padding: 8px 0px 0px 5px;
}
.intro-icons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.linked-img{
    padding-left: 70px;
}
.resume{
    margin-top: 20px;
    height: 30px;
    width: 150px;
    border-radius: 20px;
    font-size:medium;
    border:2px grey solid;
}



h1{
    font-size: 3em;
    text-align: center;
    padding: 30px;
}
.hs h4, .college h4, footer h4{
    font-size: 1.5em;
    padding: 0.7em 0 0 0;
}





.skill-image{
    height: 100px;
    width: 100px;
}



footer h4{
    font-size: 2em;
    text-align: center;
    color:antiquewhite;
}




form{
    margin: auto;
    width: 40%;
}

.button:hover{
    cursor: pointer;
}

.skill-image{
    padding: 10px;
}

.project{
    margin: 5%;
}
.image{
    border: 2px solid black ;
    height: 30%;
    width: 30%;
}
footer
{
    background-color:coral;

    height: fit-content;
}









    
.btn{
    margin: 5%;
}








@media only screen and (max-width: 721px){
    .intro h1{
        font-size: 2em;
    }
    .intro p{
        font-size:1em;
        padding-left: 10%;
        padding-right: 10%;
    }
}
@media only screen and (max-width: 520px){
    .row1,.row2,.row3{
        padding: 0;
        flex-direction: column;
    }
    .row1-col,.row2-col,.row3-col{
        padding:0;
    }
    .skills_name{
        padding-left: 20%;
    }
}

