nav
{
    background-color:#1f2428;
    height: 50px;
    display: flex;
    justify-content: center;
}
.nav-link
{
    color: aliceblue;
}
.about
{
    justify-content: center;
    text-align: center;
    padding-left: 200px;
    padding-right: 200px;
    background-color: #1f2428;
    color: antiquewhite;
    height: 250px;
}
.education
{
    height: 400px;
    padding: 50px 0px 10px 200px;
}
.skills
{
    height: 400px;
    font-weight: bolder;
    padding: 5px 0px 20px 200px;
}
.skills_name
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:x-large;
}
.skill_image
{
    height: 70px;
    width: 70px;
}
.form
{
    width: 30%;
    text-align: center;
    justify-content: center;
    margin: auto;
    height: 280px;
    padding-top: 10px;
}
footer
{
    background-color:#204766;
}